body {
    background-color: paleturquoise;
    font-family: 'Graduate', cursive;
}
.droneRating {
    width: 30px;
}

.home-header {
    background-color: darkcyan;
    padding: 0;
    margin: 0;
}

#drone-pic {
    margin: 35px;
}

#home-drone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.container {
    padding-top: 40px;
    padding-left: 25px;
}

#tagline {
    margin-top: 20px;
    font-weight: 100;
}

.blockquote {
    margin-top: 200px;
}