@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4 home-header">Welcome To ZoomFood</h1>
</div>
<div id="drone-pic">
    <img id="home-drone" src="~/img/zoom.jpeg">
</div>
<h2><em>"Food for the future..."</em></h2>
