@{
    ViewData["Title"] = "Restaurants";
    Layout = "_Layout";
}
@using ZoomFood.Models;
@model List<ZoomFood.Models.Restaurant>;
<h1>Restaurants</h1>
<ul>
    @foreach(Restaurant restaurant in Model)
    {
        <li>@Html.ActionLink($"{restaurant.Name}", "Details", new  { id = restaurant.RestaurantId }) | @restaurant.Cuisine.Name | @await Html.PartialAsync("PriceRating", restaurant.PriceRating)</li>
    }
</ul>

<p>Is your restaurant missing? Add one @Html.ActionLink("here", "Create")!</p>