@using ZoomFood.Models;
@model ZoomFood.Models.Cuisine;
@{
    ViewData["Title"] = @Model.Name;
    Layout = "_Layout";
}
<h1>@Model.Name</h1>
<ul>
    @foreach(Restaurant restaurant in Model.Restaurants)
    {
        <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurant",new { id = restaurant.RestaurantId }) | @await Html.PartialAsync("PriceRating", restaurant.PriceRating)</li>
    }
</ul>

<p>Is your restaurant missing? Add one @Html.RouteLink("here", "CuisineRestaurant", new {id = Model.CuisineId })!</p>

